h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #717275;
}

.hero__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #454545;
}

.featured-products {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 200;
  color: #454545;
}

.card {
  display: flex;
  height: 700px;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.02), 0 4px 8px rgba(26, 26, 26, 0.04), 0 8px 16px rgba(26, 26, 26, 0.08);
  border: 1px solid rgba(184, 184, 184, 0.3);
}
.card > * {
  text-align: center;
}
.card__image {
  width: 100%;
  height: 250px;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}
.card__title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  font-weight: 200;
  color: #454545;
  font-size: 1.125rem;
}
.card__description {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #717275;
}
.card__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.card__button {
  margin-top: auto;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card__button:hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card__button:hover:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(26, 26, 26, 0.12);
}
.card__button:active {
  background-color: #d9d9d9;
}

.card__image {
  width: 300px;
  height: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: center;
     object-position: center;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.navbar__logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 2rem;
  font-family: "Cormorant Garamond", serif;
}
.navbar__logo-link {
  color: #fff;
  text-decoration: none;
}
.navbar__menu {
  display: flex;
}
.navbar__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar__menu-item {
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__menu-item:last-child {
  margin-right: 0;
}
.navbar__menu-link {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.navbar__menu-link:hover {
  color: #ccc;
}
.navbar .material-symbols-outlined {
  font-size: 2rem;
  cursor: pointer;
}

.hero__content {
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #717275;
}
.hero__content-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #454545;
}
.hero__content .hero__image {
  width: 85%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 4px;
  border: 1px solid rgba(184, 184, 184, 0.3);
  box-shadow: 0 2px 4px rgba(26, 26, 26, 0.02), 0 4px 8px rgba(26, 26, 26, 0.04), 0 8px 16px rgba(26, 26, 26, 0.08);
}

.grid-wrapper {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  width: 100%;
}
.grid-wrapper h2 {
  text-align: center;
  border: 2px solid red;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.featured-products {
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */