@import "variables";
@import "base";
@import "components/card";
@import "components/navbar";
@import "components/hero";
@import "components/grid_wrapper";
@import "components/about_us";
@import "components/contact_us";
@import "components/cart";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.featured-products {
  width: 100%;
  text-align: center;
}
